%ic {
  font-family: "icons"!important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*="_icon-"] {
  &:before {
    @extend %ic;
    display: block;
    cursor: pointer;
  }
}


.icon-logo:before {
  content: "\e908";
}
.icon-arrow_f_d:before {
  content: "\e90d";
}
.icon-arrow_f_r:before {
  content: "\e90e";
}
.icon-arrow_sh_d:before {
  content: "\e900";
}
.icon-arrow_sh_r:before {
  content: "\e901";
}
.icon-arrow_up:before {
  content: "\e902";
}
.icon-call:before {
  content: "\e903";
}
.icon-cart:before {
  content: "\e904";
}
.icon-comp:before {
  content: "\e905";
}
.icon-fav:before {
  content: "\e906";
}
.icon-geo:before {
  content: "\e907";
}
.icon-rub:before {
  content: "\e909";
}
.icon-search:before {
  content: "\e90a";
}
.icon-user:before {
  content: "\e90b";
}
.icon-back:before {
  content: "\e90c";
}