
$font-family: "Montserrat", sans-serif;


$mainDarkColor: #1F1C21;
$mainOrangeColor: #e8aa31;
$secondaryOrangeColor: #F6B817;
$mainBlackColor: #141414;
$greenColor: #24ad53;
$redColor: #e7401b;

$maxWidthContainer: 1620;
$rootFontSize: 16;
